@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
video{
    width: 100%;
}
.fondo{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.267);
}
.btnMain{
    padding: 15px 25px;
    font-size: 25px;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #EEEEEE;
    color:#000;
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #D1D9D9;
}

.contentBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:45%;
    right:38em;
}

.btnMain:hover{background-color: #a2d0fb;}

.btnMain:active{
    background-color: #bbdcfb;
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}